
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Header Styles */
  header {
    background-color: #6495ED;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Main Content Styles */
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Skip to Main Content Link */
  #skip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
  
  /* Navigation Highlight */
  #links li a {
    padding: 10px;
  }
  
  #links li a:hover {
    background-color: #6495ED;
    color: #fff;
  }
  #links li a.active {
    text-decoration: underline;
    font-weight: bold;
}
  
  /* Mobile Devices */
  @media (max-width: 768px) {
    main {
      display: block; 
      text-align: center;
    }
    #skip {
      display: none;
    }
    div {
      margin: 20px auto; 
      width: 90%;
      border-bottom: 1px solid black;
      padding-bottom: 20px; 
    }
  
    h2 {
      font-size: 1.5rem;
    }
    
    img {
      max-width: 100%; 
    }
  
    p {
      text-align: left; 
      margin: 10px 0; 
    }
  
    h3 {
      font-size: 1.3rem;
    }
  
    ul {
      list-style-type: none; 
      padding: 0;
    }
  
    li {
      margin: 5px 0; 
    }
    nav{
      font-size: 1.5rem;
    }
    
  }
  